.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto 300px;
}

.container > div {
  border: 1px solid black;
}

.container > div.center {
  min-width: 100px;
}

@media only screen and (max-width: 600px) {
  .container > div.center {
    min-width: unset;
    overflow: scroll;
  }
}
